%h1 Register


= form_for @user do |f|

  = f.label :full_name
  = f.text_field :full_name
 
  = f.label :email
  = f.email_field :email

  = f.label :password
  = f.password_field :password

 

  = f.submit