!!!
%html
  %head 
    / %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}
    %title Ga Schedule Planner App
    = stylesheet_link_tag    "bootstrap", :media => "all"
    = stylesheet_link_tag    "navbar-fixed-top.css", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body

    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "#"} GA_Ja
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{href: users_path} Users
            %li
              %a{href: authorizations_path} Auth
            %li
              %a{href: roles_path} Roles
            %li
              %a{href: allocations_path} Alloc
            %li
              %a{href: enrollments_path} Enrolls
            %li
              %a{href: my_lessons_lessons_path} My Lessons


          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: courses_path} Courses
            %li
              %a{href: lessons_path} Lessons
            %li
              %a{href: classrooms_path} Rooms
            %li
            - if current_user
              logged in as #{current_user.first_name} ,
              = link_to 'Logout', logout_path, method: :delete
            -else
              = link_to "Login", login_path
              or
              = link_to "Sign up", signup_path



    
          


    .container
      =yield

      
     