!!!
%html
  %head
    %title Ga Schedule Planner App
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #page

      %nav.navbar
        %ul.left-nav
          %li= link_to('Users', users_path)
          %li= link_to('Courses', courses_path)
          %li= link_to('Lessons', lessons_path)
          %li= link_to('Classrooms', classrooms_path)
          %li= link_to('Student Enrollments', enrollments_path)
          %li= link_to('Bookings', bookings_path)
          %li= link_to('Instructor Allocations', allocations_path)
          %li= link_to('User Authorizations', authorizations_path)

        %ul.right-nav
          %li
            - if current_user
              logged in as #{current_user.first_name} ,
              = link_to 'Logout', logout_path, method: :delete
            -else
              = link_to "Login", login_path
              or
              = link_to "Sign up", signup_path
        .clear


      %section#main
        %h1 GA inna da Reggae

        = yield